.menu-interne .titre-menu {
  background-color: black;
}

.menu-interne .titre-menu h2 {
  color: white;
  font-family: "Satisfy";
  font-size: 45px;
  font-weight: bold;
}
.menu-interne .btn-menu button {
  width: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-left: 20px !important;
}

.menu-interne .formation-container h3 {
  border: 2px solid black;
}
