/*********************************
* 		CORPS DE LA PAGE         *
*								 *
/*********************************/
.connexion {
  height: 100vh;
}
.connexion .connexion-form-container {
  margin-top: 50vh;
  transform: translateY(-50%);
  background-image: url("../images/connexion/motif.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 500px;
  max-height: 500px;
  min-width: 500px;
  min-height: 500px;
}

/*********************************
* 		       CONNEXION         *
*								 *
/*********************************/
.connexion .connexion-form {
  background-color: rgba(10, 65, 104, 0.9);
  width: 380px;
  height: 450px;
  margin: auto;
  margin-top: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 11px -5px 26px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 11px -5px 26px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 11px -5px 26px -4px rgba(0, 0, 0, 0.75);
}

/*********************************
* 		       FORMULAIRE        *
*								 *
/*********************************/
.connexion .logo-form {
  margin-top: 25px;
  width: 140px;
  height: 140px;
}

.connexion .data-input {
  max-width: 230px;
  max-height: 40px;
  border-radius: 0px;
  border: 0px;
  border-bottom: 2px solid rgb(198, 198, 198);
  background-color: transparent;
  color: white;
}
.connexion .data-input:focus {
  border-bottom-color: #01f816;
}

.connexion .input-image-prepend {
  margin-top: 10px;
}

/************************************** FIN FORMULAIRE *******************************************************/

/************************************** FIN CONNEXION *******************************************************/

/************************************** FIN CORPS DE PAGE ****************************************************/
