body {
  max-width: 1080px;
  height: 100vh;
  margin: auto auto;
  background-image: url("../images/background-image.jpeg");
  height: 100%;
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.underline {
  text-decoration: underline;
}

form .input-image-prepend {
  width: 40px;
  padding: 0px;
  margin-top: 2px;
  margin-right: 13px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.error-message {
  color: #f9b3a2;
}


fieldset {
  border: 2px solid black;
}

.table-input {
  width: 80px;
  margin: auto auto;
  height: 30px;
}